body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background: #111;
  color: white;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #ff9800;
  color: black;
  transition: 0.2s;
}

button:hover {
  background: #ffc107;
}

#result {
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
}